[Desktop Entry]
Version=1.0
Name=SolarOS Communications
GenericName=Secure Communications Grid
Comment=WhatsApp Web in the SolarOS interface
Exec=solaros-whatsapp
Terminal=false
Type=Application
Icon=solaros-whatsapp
StartupNotify=true
Categories=Network;InstantMessaging;
Keywords=SolarOS;TRON;WhatsApp;Chat;
